<?php
$AUTOCONFIG = array(
  "dbtype"        => "mysql",
  "dbname"        => "${appconfig.mysql.dbname.maindb}",
  "dbuser"        => "${appconfig.mysql.dbuser.maindb}",
  "dbpass"        => "${appconfig.mysql.dbusercredential.maindb}",
  "dbhost"        => "${appconfig.mysql.dbhost.maindb}",
  "dbtableprefix" => "",
  "adminlogin"    => "${appconfig.installable.customizationpoints.adminlogin.value}",
  "adminpass"     => "${appconfig.installable.customizationpoints.adminpass.value}",
  "directory"     => "data"
);
